<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>날짜 선택</title>
    <link rel="stylesheet" href="../static/Track/Selection/date_selection_style.css">
    <script src="../static/Track/Selection/date_selection_script.js" defer></script>
    <link rel="stylesheet" href="/static/Menu/menu_style.css">
    <script src="/static/Menu/menu_script.js" defer></script>
</head>
<body>
    <div class="header">
        <div class="hamburger-menu" id="hamburger-menu">
            &#9776;
        </div>
        <div class="logo_container">
            <img src="../static/logo.png" alt="logo" class="logo"/>
        </div>
        <nav class="sidebar" id="sidebar">
            <ul class="sidebar-nav">
                <li class="nav-item"><a href="/" class="nav-link">홈</a></li>
                <li class="nav-item"><a href="/management" class="nav-link">트랙관리</a></li>
                <li class="nav-item"><a href="#" class="nav-link">설정</a></li>
            </ul>
        </nav>
    </div>
    <div class="scroll-container">
        <h1>날짜를 골라주세요</h1>
        <div class="calendar-container">
            <div class="month-selector">
                <button id="prev-month">이전</button>
                <span id="month-year"></span>
                <button id="next-month">다음</button>
            </div>
            <table id="calendar">
                <thead>
                    <tr>
                        <th>일</th>
                        <th>월</th>
                        <th>화</th>
                        <th>수</th>
                        <th>목</th>
                        <th>금</th>
                        <th>토</th>
                    </tr>
                </thead>
                <tbody id="calendar-body">
                    <!-- 달력 내용이 JavaScript를 통해 동적으로 생성될 것입니다. -->
                </tbody>
            </table>
            <div class="selected-date-box" id="selected-date-box">선택한 날짜: 없음</div>
        </div>
    </div>
    <div class="highlight-box" id="highlight-box">
        <a id="highlight-text" class="nav-button">선택 완료</a>
    </div>
</body>
</html>
