<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>카테고리 선택</title>
    <link rel="stylesheet" href="../static/Track/Selection/kategorie_selection_style.css">
    <script src="../static/Track/Selection/kategorie_selection_script.js" defer></script>
</head>
<body>
    <div class="header">
        <div class="hamburger-menu" id="hamburger-menu">
            &#9776;
        </div>
        <div class="logo_container">
            <img src="../static/logo.png" alt="logo" class="logo"/>
        </div>
        <nav class="sidebar" id="sidebar">
            <ul class="sidebar-nav">
                <li class="nav-item"><a href="/" class="nav-link">홈</a></li>
                <li class="nav-item"><a href="/management" class="nav-link">트랙관리</a></li>
                <li class="nav-item"><a href="#" class="nav-link">설정</a></li>
            </ul>
        </nav>
    </div>
    <div class="scroll-container">
        <h1>카테고리를 골라주세요</h1>
        <div class="container">
            <div class="selection-box" data-category="혼자">혼자</div>
            <div class="selection-box" data-category="가족">가족</div>
            <div class="selection-box" data-category="친구">친구</div>
            <div class="selection-box" data-category="연인">연인</div>
            <div class="selection-box" data-category="단체">단체</div>
            <div class="selection-box" data-category="기타">기타</div>
        </div>
    </div>
    <div class="highlight-box" id="highlight-box">
        <a id="highlight-text" class="nav-button">선택 완료</a>
    </div>
</body>
</html>
