<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/Menu/menu_style.css">
    <link rel="stylesheet" href="/static/Track/Management/management.css">
    <script src="/static/Menu/menu_script.js"></script>
    <title>시끌시끌</title>
</head>
<body>
    <div class="header">
        <div class="hamburger-menu" id="hamburger-menu">
            &#9776;
        </div>
        <div class="logo_container">
            <img src="/static/logo.png" alt="logo" class="logo"/>
        </div>
        <nav class="sidebar" id="sidebar">
            <ul class="sidebar-nav">
                <li class="nav-item"><a href="/../../../" class="nav-link">홈</a></li>
                <li class="nav-item"><a href="/../../../management" class="nav-link">트랙관리</a></li>
                <li class="nav-item"><a href="#" class="nav-link">설정</a></li>
            </ul>
        </nav>
    </div>
    <div class="scroll-container">
        <div class="track_container">
            <div class="track">
                첫번째 트랙
                <span class="date">2024.07.30</span>
            </div>
            <div class="track">
                두번째 트랙
                <span class="date">2024.07.30</span>
            </div>
            <div class="track">
                세번째 트랙
                <span class="date">2024.07.30</span>
            </div>
            <div class="track">
                네번째 트랙
                <span class="date">2024.07.30</span>
            </div>
            <div class="track">
                다섯번째 트랙
                <span class="date">2024.07.30</span>
            </div>
            <div class="track">
                여섯번째 트랙
                <span class="date">2024.07.30</span>
            </div>
            <div class="track">
                일곱번째 트랙
                <span class="date">2024.07.30</span>
            </div>
            <div class="track">
                여덟번째 트랙
                <span class="date">2024.07.30</span>
            </div>
            <div class="track">
                아홉번째 트랙
                <span class="date">2024.07.30</span>
            </div>
            <div class="track">
                열번째 트랙
                <span class="date">2024.07.30</span>
            </div>
        </div>
    </div>
    <div class="highlight-box" id="highlight-box">
        <a id="highlight-text" class="nav-button">트랙 즐기러 가기➡️</a>
    </div>
    <script src="/static/Track/Management/management.js"></script>
</body>
</html>
